@model IList<Log>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}
@*@System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() 
@Resources.Resource.Name*@
<table class="table table-striped">
    <tr>
        <th>ErrorId</th>
        <th>Host</th>
        <th>TimeUtc</th>
    </tr>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.ErrorId</td>
                <td>@item.Host</td>
                <td>@item.TimeUtc</td>
            </tr>
        }
    }
    else
    {
        <tr>查無資料</tr>
    }
</table>
